@page
@model RalphCMS.Pages.ContactModel
@{
}

<div class="container-fluid">
    @if (Model.Page != null)
    {
        @Html.Raw(Model.Page.Content)
    }
</div>

@section Scripts {
    <link href="~/css/wordWrap.css" rel="stylesheet" />
}