@page
@model RalphCMS.Pages.Admin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>@Model.Page.Title</h4>

<hr />
<div class="row">
    <div class="container-fluid">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Page.Title" />
            <div class="form-group">
                <input type="hidden" asp-for="Page.Index" value="@Model.Page.Index" />
                <input type="hidden" asp-for="Page.Visits" value="@Model.Page.Visits" />
                <label asp-for="Page.Content" class="control-label"></label>
                <textarea asp-for="Page.Content" class="form-control" id="summernote"></textarea>
                <span asp-validation-for="Page.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_WYSIWYGScriptsPartial");}
}
